<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @stock.identifier %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock.description %>
</p>

<p>
  <strong>Last price:</strong>
  <%= @stock.last_price %>
</p>

<p>
  <strong>Last price:</strong>
  <%= @stock.last_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @stock.current_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @stock.current_price %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
